<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>特种设备保险网</title>
    <link rel="stylesheet" href="../css/reset.css"/>
    <link rel="stylesheet" href="../css/common.css"/>
    <link rel="stylesheet" href="../css/main.css"/>
</head>
<body>
<!--导航-->
<div class="header">
    <div class="header-top">
        <ul class="container clearfix">
            <li class="left">2016年7月13日&nbsp;星期三</li>
            <li class="right">
                <span class="left"></span>
                <a href="#">登录</a>
                <b>|</b>
                <a href="#">注册</a>
            </li>
        </ul>
    </div>
    <div class="container header-nav">
        <div class="left">
            <img src="../images/logo.png" alt=""/>
        </div>
        <div class="right f18">
            <ul class="nav clearfix">
                <li><a href="../trends.html" class="a hover">首页</a></li>
                <li><a href="../trends.html"class="a">动态资讯</a></li>
                <li><a href="../rule.html" class="a">政策与法规</a></li>
                <li><a href="../safe.html" class="a">安全与保险</a></li>
                <li><a href="../example.html" class="a">经典案例</a></li>
                <li><a href="../market.html" class="a">保险市场</a></li>
            </ul>
        </div>
    </div>
</div>
</body>
</html>